#my-container {
	z-index: -1;  
	mix-blend-mode: multiply;
}

#my-container, #my-background {
	position: fixed;
    top: 0;
    left: 0;
  width: 100%;
  height: 100vh;
}

#my-background {
  
  z-index: -10;

}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {

}

h2 {

}

header h2 {
}

/* footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
} */

.jumbotron {
    margin: 0;
    padding: 30px;
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.bq {
    color: black;
}
.navbar {
}
.site-footer{
    padding: 20px 0;
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
  }

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
}

.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    .fade-in1 {
        animation: fadeIn ease 3s;
        -webkit-animation: fadeIn ease 3s;
        -moz-animation: fadeIn ease 3s;
        -o-animation: fadeIn ease 3s;
        -ms-animation: fadeIn ease 3s;
        }
        @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }
        
        @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
        }

        .fade-in2 {
            animation: fadeIn ease 7s;
            -webkit-animation: fadeIn ease 7s;
            -moz-animation: fadeIn ease 7s;
            -o-animation: fadeIn ease 7s;
            -ms-animation: fadeIn ease 7s;
            }
            @keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }
            
            @-moz-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }
            
            @-webkit-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }
            
            @-o-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }
            
            @-ms-keyframes fadeIn {
            0% {opacity:0;}
            100% {opacity:1;}
            }

            .fade-in3 {
                animation: fadeIn ease 20s;
                -webkit-animation: fadeIn ease 20s;
                -moz-animation: fadeIn ease 20s;
                -o-animation: fadeIn ease 20s;
                -ms-animation: fadeIn ease 20s;
                }
                @keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
                }
                
                @-moz-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
                }
                
                @-webkit-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
                }
                
                @-o-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
                }
                
                @-ms-keyframes fadeIn {
                0% {opacity:0;}
                100% {opacity:1;}
                }

